<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="userId" value="115166"/>
		<add key="apiKey" value="6b03403d5d6895043240294abc2acc67c4d2d2f1365ea0136ac542238b6dfe42d596886eff45c4cbfb97f2a50705e2fe3435e3981c70bb6897dacbf1f81f0248"/>
		<add key="defaultAttachmentFolder" value="C:\Users\NathanBurdick\OneDrive - Nathan Burdick\Scans\Bills and Receipts"/>
	</appSettings>
</configuration>